/*@font-face {
    font-family: NekstRegular;
    src: url(../assets/fonts/Nekst-Regular.ttf);
}*/
* {
  font-family: "Nekst", sans-serif; }

body {
  background-color: #10112d; }

main {
  overflow-x: hidden;
  min-height: calc(100vh - 120px); }

h1 {
  color: white;
  font-size: 48px; }

h2 {
  color: white;
  font-size: 24px;
  font-weight: bold; }

h3 {
  color: white;
  font-size: 16px; }

h4 {
  color: white;
  font-size: 14px; }

h5 {
  color: white;
  font-size: 12px;
  font-weight: bold; }

p {
  font-size: 12px;
  color: white;
  font-family: "Nekst", sans-serif; }

.table > :not(:first-child) {
  border-top: none; }

.table > thead {
  height: 40px;
  color: #a6b2c6;
  font-weight: bold;
  font-size: 12px;
  text-align: center; }

td {
  font-size: 12px; }
  td > div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px; }

.gradient-purple {
  background-image: -moz-linear-gradient(-90deg, #2a3072 0%, #565fb0 100%);
  background-image: -webkit-linear-gradient(-90deg, #2a3072 0%, #565fb0 100%);
  background-image: -ms-linear-gradient(-90deg, #2a3072 0%, #565fb0 100%); }

.gradient-green {
  background-image: -moz-linear-gradient(-38deg, #1c5163 0%, #2ef098 100%);
  background-image: -webkit-linear-gradient(-38deg, #1c5163 0%, #2ef098 100%);
  background-image: -ms-linear-gradient(-38deg, #1c5163 0%, #2ef098 100%); }

.gradient-red {
  background-image: -moz-linear-gradient(-38deg, #4b2d73 0%, #e0258c 100%);
  background-image: -webkit-linear-gradient(-38deg, #4b2d73 0%, #e0258c 100%);
  background-image: -ms-linear-gradient(-38deg, #4b2d73 0%, #e0258c 100%); }

.gradient-blue {
  background-image: -moz-linear-gradient(-38deg, #2e3a82 0%, #2871ab 100%);
  background-image: -webkit-linear-gradient(-38deg, #2e3a82 0%, #2871ab 100%);
  background-image: -ms-linear-gradient(-38deg, #2e3a82 0%, #2871ab 100%); }

.loaderWrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center; }

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0dcaf0;
  animation: lds-grid 1.2s linear infinite; }

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s; }

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s; }

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s; }

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s; }

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s; }

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s; }

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s; }

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s; }

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s; }

@keyframes lds-grid {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.5; } }

/*# sourceMappingURL=Loader.css.map */
