@import "../../variables";

.banners{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    @media screen and (max-width: 480px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #202447;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        height: 62px;
        width: 100%;
        max-width: 350px;

        @media screen and (max-width: 480px){
            margin-bottom: 20px;
        }

        p{
            margin-bottom: 0;
        }
    }
}
