@import "../../../../variables";

.simpleTable {

    @media screen and (max-width: 520px){
        overflow: scroll;
    }

    .coinsCol{
        width: 150px;
    }

    .coinsColLong{
        width: 250px;
    }

    .coinsStatus {
        width: 400px;
    }

    .reward {
        width: 190px;
    }
}
