//@import "../assets/font/stylesheet.css";
/*@font-face {
    font-family: NekstRegular;
    src: url(../assets/fonts/Nekst-Regular.ttf);
}*/

// Body
$body-bg: #10112d;

// colors
$color-one: #a6b2c6;
$color-two: #1f244c;
$color-three: #181c3f;
$color-four: #0dcaf0;;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
//$font-next: 'Nekst', sans-serif;
$font-next: 'NekstMedium', sans-serif;
;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

* {
    font-family: $font-next;
}

body{
    background-color: $body-bg;
}

main{
    overflow-x: hidden;
    min-height: calc(100vh - 120px);
}

h1 {
    color: white;
    font-size: 48px;
}

h2 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

h3 {
    color: white;
    font-size: 16px;
}

h4 {
    color: white;
    font-size: 14px;
}

h5{
    color: white;
    font-size: 12px;
    font-weight: bold;

}

p {
    font-size: 12px;
    color: white;
    font-family: $font-next;
}


.table > :not(:first-child){
    border-top: none;
}

.table > thead{
    height: 40px;
    color: $color-one;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

td{
    font-size: 12px;

    &>div{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
    }
}

.gradient-purple {
    background-image: -moz-linear-gradient( -90deg, rgb(42,48,114) 0%, rgb(86,95,176) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(42,48,114) 0%, rgb(86,95,176) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(42,48,114) 0%, rgb(86,95,176) 100%);
}

.gradient-green {
    background-image: -moz-linear-gradient( -38deg, rgb(28,81,99) 0%, rgb(46,240,152) 100%);
    background-image: -webkit-linear-gradient( -38deg, rgb(28,81,99) 0%, rgb(46,240,152) 100%);
    background-image: -ms-linear-gradient( -38deg, rgb(28,81,99) 0%, rgb(46,240,152) 100%);
}

.gradient-red {
    background-image: -moz-linear-gradient( -38deg, rgb(75,45,115) 0%, rgb(224,37,140) 100%);
    background-image: -webkit-linear-gradient( -38deg, rgb(75,45,115) 0%, rgb(224,37,140) 100%);
    background-image: -ms-linear-gradient( -38deg, rgb(75,45,115) 0%, rgb(224,37,140) 100%);
}

.gradient-blue {
    background-image: -moz-linear-gradient( -38deg, rgb(46,58,130) 0%, rgb(40,113,171) 100%);
    background-image: -webkit-linear-gradient( -38deg, rgb(46,58,130) 0%, rgb(40,113,171) 100%);
    background-image: -ms-linear-gradient( -38deg, rgb(46,58,130) 0%, rgb(40,113,171) 100%);
}
