// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap/scss/bootstrap';
// Variables
@import 'variables';

.nav-link {
    border: none;
    background: none;
    border-bottom: 1px solid transparent;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.56);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    &:hover, &.active {
        background: linear-gradient(0deg, rgb(0, 155, 247), rgb(0, 176, 150)) 30% 30%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-image: linear-gradient(0deg, rgb(0, 155, 247), rgb(0, 176, 150)) 30% 30%;
    }
}

footer {
    .nav-link {
        border: none;
        background: none;
        border-top: 1px solid transparent;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.56);
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;

        &:hover, &.active {
            background: linear-gradient(0deg, rgb(0, 155, 247), rgb(0, 176, 150)) 30% 30%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border-image: linear-gradient(0deg, rgb(0, 155, 247), rgb(0, 176, 150)) 30% 30%;
        }
    }
}

.navbar-dark, .bg-dark {
    background: linear-gradient(90deg, rgb(36, 41, 81) 0%, rgb(17, 20, 44) 100%);
    background-image: -moz-linear-gradient(90deg, rgb(36, 41, 81) 0%, rgb(17, 20, 44) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(36, 41, 81) 0%, rgb(17, 20, 44) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(36, 41, 81) 0%, rgb(17, 20, 44) 100%);
}

.popover-body {
    padding-left: 0;
    padding-bottom: 0;
}

.btn-close {
    background: transparent url('../assets/icons/close.svg') center;
    width: 20px;
    height: 20px;
}

.alert {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0;
    min-height: 60px;

    .btn-close {
        width: 15px !important;
        height: 15px !important;
        font-size: 15px;
        background-size: 15px;
        background-repeat: no-repeat;
    }
}

.alert-primary {
    background-color: #0e1731;
    color: white;
}

.alert-heading {
    font-family: $font-next;
    font-size: 12px;
    font-weight: lighter;
    margin-bottom: 0;
    line-height: 16px;

    strong {
        color: #bd3840;
    }
}

.title-gradient {
    font-size: 48px;
    text-transform: uppercase;
    line-height: 1.396;
    font-family: $font-next;
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, #009fe6 0%, #00abac 83%, #00f5f6 30%);
    //background: -webkit-linear-gradient(90deg, #009fe6, #00f5f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-info {
    max-height: 35px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    background-image: -moz-linear-gradient(0deg, rgb(0, 155, 247) 0%, rgb(0, 176, 150) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(0, 155, 247) 0%, rgb(0, 176, 150) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(0, 155, 247) 0%, rgb(0, 176, 150) 100%);

    box-shadow: #00f5f6 0px 0px 50px 4px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    &:hover, &:active, &:focus {
        color: white;
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        box-shadow: #00f5f6 0px 0px 25px 10px;
    }
}

.fill-btn {
    box-shadow: none;

    &:hover, &:active, &:focus {
        color: white;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}

.btn-outline-secondary {
    color: $color-one;
    border-color: $color-one;
}

.btn-check:checked + .btn-outline-secondary {
    background: none;
    color: $color-four;
    border-bottom-color: $color-four;
}

.btn-outline-light {
    color: $color-one;
    border-color: $color-one;
}

.btn-check:checked + .btn-outline-light {
    color: $color-four;
    border-color: $color-four;
    background: none;
}

.table-dark {
    --bs-table-bg: #1d2147;
    --bs-table-striped-bg: #1f244c;
    --bs-table-striped-color: #fff;
    //--bs-table-active-bg: -webkit-linear-gradient(0deg, #009fe6 0%, #00abac 83%, #00f5f6 30%);
    //--bs-table-active-bg: linear-gradient( -38deg, rgb(46,58,130) 0%, rgb(40,113,171) 100%);
    --bs-table-active-bg: #2a3072;
    --bs-table-active-color: #fff;
    //--bs-table-hover-bg: -webkit-linear-gradient(0deg, #009fe6 0%, #00abac 83%, #00f5f6 30%);
    //--bs-table-hover-bg:linear-gradient( -38deg, rgb(46,58,130) 0%, rgb(40,113,171) 100%);
    --bs-table-hover-bg: #2a3072;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: transparent;
    //box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.form-control {
    background: none;
    border: none;
    color: $color-one;

    &:hover, &:active, &:focus {
        background: none;
        border: none;
        color: $color-one;
    }
}

.input-text {
    background: #1d2147;
    border: 1px solid #2b2f56;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 46px;

    &:hover, &:active, &:focus {
        background: #1d2147;
        border: 1px solid #2b2f56;
        color: $color-one;
    }
}

.form-select {
    background-color: #1d2147;
    height: 46px;
    background-image: url(../assets/img/ic-arrow-down.png);
    background-size: 12px 8px;
    border: 1px solid #2b2f56;
    color: $color-one;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    option {
        height: 46px;
    }
}

#dropdown-custom {
    width: 100%;
    background-color: #1d2147;
    height: 46px;
    border: 1px solid #2b2f56;
    color: $color-one;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
        border: none;
        content: url(../assets/img/ic-arrow-down.png);
    }
}

.dropdown-menu.show {
    width: 100%;
    background-color: #1d2147;
    border: 3px solid #2b2f56;

}

.dropdown-item {
    color: white;
    height: 40px;

    &:hover {
        background-color: #2b2f56;
        color: white;
    }
}

.form-floating {
    width: 100%;
    color: $color-one;

    .form-control {
        background-color: #1d2147;
        border: 1px solid #2b2f56;
        color: $color-one;
    }
}

.simple-btn-outline {
    border: none;
    outline: none;
    background: none;
    height: 40px;
    color: $color-one;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    font-size: 16px;

    &:hover {
        color: white;
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
}

.simple-btn-filled {
    outline: none;
    border: 1px solid $color-four;
    width: 100%;
    max-width: 145px;
    height: 40px;
    color: white;
    background: linear-gradient(45deg, #2968a4, #2d4389);;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 16px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

    &:hover {
        color: white;
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
}

.accordion-item{
    margin-bottom: 10px;
    //background-color: $color-two;
    background: none;
    color: white;
}

.accordion-button{
    background-color: $color-two;
    color: $color-one;
    font-weight: bold;
    border: 1px solid #2b2f56;
    margin-bottom: 5px;
}

.accordion-button::before {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a6b2c6'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed)::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

.accordion-button::after, .accordion-button:not(.collapsed)::after{
    background: none;
}
.accordion-button:not(.collapsed) {
    color: white;
    background-color: $color-two;
    border: 1px solid #5f6495;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-body{
    background-color: $color-two;
    border: 1px solid #5f6495;
}

.input-label {
    width: 100%;
    color: $color-one;

    span{
        color: red;
    }
}

.bth-lg, .btn-big{
    height: 66px;
    width: 256px;
}

.btn-violet{
    background: url("../assets/img/btn-violet-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    border-color: #684bdd;
}

.btn-orange{
    background: url("../assets/img/btn-orange-bg.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    border-color: #ff7b39;
}
