@font-face {
    font-family: 'Nekst Semi';
    src: url('../fonts/Nekst-SemiBold.eot');
    src: local('../fonts/Nekst Semi Bold'), local('../fonts/Nekst-SemiBold'),
        url('../fonts/Nekst-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nekst-SemiBold.woff2') format('woff2'),
        url('../fonts/Nekst-SemiBold.woff') format('woff'),
        url('../fonts/Nekst-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('../fonts/Nekst-Regular.eot');
    src: local('../fonts/Nekst'), local('../fonts/Nekst-Regular'),
        url('../fonts/Nekst-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nekst-Regular.woff2') format('woff2'),
        url('../fonts/Nekst-Regular.woff') format('woff'),
        url('../fonts/Nekst-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('../fonts/Nekst-Black.eot');
    src: local('../fonts/Nekst Black'), local('../fonts/Nekst-Black'),
        url('../fonts/Nekst-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nekst-Black.woff2') format('woff2'),
        url('../fonts/Nekst-Black.woff') format('woff'),
        url('../fonts/Nekst-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('../fonts/Nekst-Thin.eot');
    src: local('../fonts/Nekst Thin'), local('../fonts/Nekst-Thin'),
        url('../fonts/Nekst-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nekst-Thin.woff2') format('woff2'),
        url('../fonts/Nekst-Thin.woff') format('woff'),
        url('../fonts/Nekst-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('../fonts/Nekst-Bold.eot');
    src: local('../fonts/Nekst Bold'), local('../fonts/Nekst-Bold'),
        url('../fonts/Nekst-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nekst-Bold.woff2') format('woff2'),
        url('../fonts/Nekst-Bold.woff') format('woff'),
        url('../fonts/Nekst-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('../fonts/Nekst-Medium.eot');
    src: local('../fonts/Nekst Medium'), local('../fonts/Nekst-Medium'),
        url('../fonts/Nekst-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nekst-Medium.woff2') format('woff2'),
        url('../fonts/Nekst-Medium.woff') format('woff'),
        url('../fonts/Nekst-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('../fonts/Nekst-Light.eot');
    src: local('../fonts/Nekst Light'), local('../fonts/Nekst-Light'),
        url('../fonts/Nekst-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nekst-Light.woff2') format('woff2'),
        url('../fonts/Nekst-Light.woff') format('woff'),
        url('../fonts/Nekst-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

