@import "../../../variables";

.sectionSeparator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    p{
        margin-top: -20px;
    }
}
