/*@font-face {
    font-family: NekstRegular;
    src: url(../assets/fonts/Nekst-Regular.ttf);
}*/
* {
  font-family: "NekstMedium", sans-serif; }

body {
  background-color: #10112d; }

main {
  overflow-x: hidden;
  min-height: calc(100vh - 120px); }

h1 {
  color: white;
  font-size: 48px; }

h2 {
  color: white;
  font-size: 24px;
  font-weight: bold; }

h3 {
  color: white;
  font-size: 16px; }

h4 {
  color: white;
  font-size: 14px; }

h5 {
  color: white;
  font-size: 12px;
  font-weight: bold; }

p {
  font-size: 12px;
  color: white;
  font-family: "NekstMedium", sans-serif; }

.table > :not(:first-child) {
  border-top: none; }

.table > thead {
  height: 40px;
  color: #a6b2c6;
  font-weight: bold;
  font-size: 12px;
  text-align: center; }

td {
  font-size: 12px; }
  td > div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px; }

.gradient-purple {
  background-image: -moz-linear-gradient(-90deg, #2a3072 0%, #565fb0 100%);
  background-image: -webkit-linear-gradient(-90deg, #2a3072 0%, #565fb0 100%);
  background-image: -ms-linear-gradient(-90deg, #2a3072 0%, #565fb0 100%); }

.gradient-green {
  background-image: -moz-linear-gradient(-38deg, #1c5163 0%, #2ef098 100%);
  background-image: -webkit-linear-gradient(-38deg, #1c5163 0%, #2ef098 100%);
  background-image: -ms-linear-gradient(-38deg, #1c5163 0%, #2ef098 100%); }

.gradient-red {
  background-image: -moz-linear-gradient(-38deg, #4b2d73 0%, #e0258c 100%);
  background-image: -webkit-linear-gradient(-38deg, #4b2d73 0%, #e0258c 100%);
  background-image: -ms-linear-gradient(-38deg, #4b2d73 0%, #e0258c 100%); }

.gradient-blue {
  background-image: -moz-linear-gradient(-38deg, #2e3a82 0%, #2871ab 100%);
  background-image: -webkit-linear-gradient(-38deg, #2e3a82 0%, #2871ab 100%);
  background-image: -ms-linear-gradient(-38deg, #2e3a82 0%, #2871ab 100%); }

.adcPage {
  min-height: 1000px;
  background-image: url(../../../assets/img/air-drop-page-bg.png);
  -webkit-background-size: cover;
  background-size: cover; }
  .adcPage .needBoostSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 85px;
    margin-bottom: 70px; }
    @media screen and (max-width: 1200px) {
      .adcPage .needBoostSection {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .adcPage .needBoostSection .leftSide {
      position: relative; }
      .adcPage .needBoostSection .leftSide img {
        margin-bottom: -50px;
        width: 100%;
        max-width: 479px; }
        @media screen and (max-width: 1200px) {
          .adcPage .needBoostSection .leftSide img {
            margin-bottom: 50px; } }
    .adcPage .needBoostSection .rightSide {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 603px; }
      .adcPage .needBoostSection .rightSide .medalWrapper {
        margin-left: -75px;
        margin-bottom: -15px; }
        @media screen and (max-width: 1200px) {
          .adcPage .needBoostSection .rightSide .medalWrapper {
            margin-left: 0;
            margin-bottom: 0px; } }
      .adcPage .needBoostSection .rightSide p {
        color: #a6b2c6; }
      .adcPage .needBoostSection .rightSide .graphic {
        width: 100%;
        max-width: 603px; }
  .adcPage .promoteSection {
    margin-bottom: 100px; }
    .adcPage .promoteSection .cardWrapper {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      @media screen and (max-width: 998px) {
        .adcPage .promoteSection .cardWrapper {
          flex-direction: column;
          justify-content: center;
          align-items: center; } }
  .adcPage .discountSection {
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 1200px) {
      .adcPage .discountSection {
        flex-direction: column;
        align-items: center; } }
    .adcPage .discountSection .discountPart {
      width: 100%;
      max-width: 540px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
    .adcPage .discountSection .discountCard {
      width: 100%;
      max-width: 540px;
      margin-bottom: 50px;
      margin-top: 30px;
      height: 362px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #181c3f;
      background-color: #1f244c;
      padding: 50px 50px 30px 40px;
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      @media screen and (max-width: 768px) {
        .adcPage .discountSection .discountCard {
          height: auto; } }
    .adcPage .discountSection .point {
      width: 100%;
      max-width: 465px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
      @media screen and (max-width: 768px) {
        .adcPage .discountSection .point {
          flex-direction: column; } }
      .adcPage .discountSection .point .pointNum {
        font-weight: bold;
        font-size: 36px;
        color: white;
        display: block; }
      .adcPage .discountSection .point .pointBLock {
        width: 100%;
        max-width: 410px;
        padding-top: 20px; }
        .adcPage .discountSection .point .pointBLock .pointTitle {
          margin-bottom: 22px; }
        .adcPage .discountSection .point .pointBLock .pointContent {
          color: #a6b2c6; }
    .adcPage .discountSection .btnWrapper {
      display: flex;
      justify-content: center; }

/*# sourceMappingURL=AdcPage.module.css.map */
