@import "../../../variables";

.coinItem{
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px 10px 15px;

    .num{
        color: white;
        font-size: 16px;
        font-weight: bold;
        margin-right: 15px;
    }

    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .logo {
            width: 46px;
            height: 46px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

        .data{
            width: 90px;

            .name{
                margin-bottom: 5px;
            }
        }

        .price{
            width: 80px;
            margin-bottom: 0;
        }
    }

    &:hover {
        //background-color: rgba(126, 136, 159, .3);
        background-color: rgba(255, 255, 255, .1);
        cursor: pointer;
    }
}
