@import "../../../../../variables";

.tableItem {
    min-height: 65px;

    .coinsCol{

        .coins{
            display: flex;
            align-items: center;

            img{
                margin-right: 10px;
            }

            p{
                margin-bottom: 0;
                font-weight: bold;
                font-size: 12px;
            }
        }

        .coinsLong{
            display: flex;
            align-items: center;
            img{
                margin-right: 10px;
            }

            p{
                margin-bottom: 0;
                color: $color-one;
                font-size: 12px;
            }
        }

        .coinsStatus{
            display: flex;
            padding-left: 20px;
            align-items: flex-start;
            img{
                margin-right: 10px;
            }

            p{
                margin-bottom: 0;
                color: $color-one;
                font-size: 12px;
            }
        }
    }

    .symbol{
        color: $color-one;
        font-size: 12px;
    }

    .endDate{
        .text{
            color: $color-one;
        }
        .line{
            width: 32px;
            height: 3px;
            background-color: $color-one;
        }
    }

    .text {
        color: $color-one;
    }
}

.greenCol{
    display: flex;
    align-items: center;
    color: #7dd75c;

    img{
        margin-right: 8px;
    }
}
