@import "../../../../../variables";

.tableItem {
    height: 65px;

    .coinsCol{

        .coins{
            display: flex;
            align-items: center;

            img{
                margin-right: 10px;
            }

            p{
                margin-bottom: 0;
                font-weight: bold;
                font-size: 12px;
            }
        }
    }

    .symbol{
        color: $color-one;
        font-size: 12px;
    }
}

.greenCol{
    display: flex;
    align-items: center;
    color: #7dd75c;

    img{
        margin-right: 8px;
    }
}
