/*@font-face {
    font-family: NekstRegular;
    src: url(../assets/fonts/Nekst-Regular.ttf);
}*/
* {
  font-family: "Nekst", sans-serif; }

body {
  background-color: #10112d; }

main {
  overflow-x: hidden;
  min-height: calc(100vh - 120px); }

h1 {
  color: white;
  font-size: 48px; }

h2 {
  color: white;
  font-size: 24px;
  font-weight: bold; }

h3 {
  color: white;
  font-size: 16px; }

h4 {
  color: white;
  font-size: 14px; }

h5 {
  color: white;
  font-size: 12px;
  font-weight: bold; }

p {
  font-size: 12px;
  color: white;
  font-family: "Nekst", sans-serif; }

.table > :not(:first-child) {
  border-top: none; }

.table > thead {
  height: 40px;
  color: #a6b2c6;
  font-weight: bold;
  font-size: 12px;
  text-align: center; }

td {
  font-size: 12px; }
  td > div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px; }

.gradient-purple {
  background-image: -moz-linear-gradient(-90deg, #2a3072 0%, #565fb0 100%);
  background-image: -webkit-linear-gradient(-90deg, #2a3072 0%, #565fb0 100%);
  background-image: -ms-linear-gradient(-90deg, #2a3072 0%, #565fb0 100%); }

.gradient-green {
  background-image: -moz-linear-gradient(-38deg, #1c5163 0%, #2ef098 100%);
  background-image: -webkit-linear-gradient(-38deg, #1c5163 0%, #2ef098 100%);
  background-image: -ms-linear-gradient(-38deg, #1c5163 0%, #2ef098 100%); }

.gradient-red {
  background-image: -moz-linear-gradient(-38deg, #4b2d73 0%, #e0258c 100%);
  background-image: -webkit-linear-gradient(-38deg, #4b2d73 0%, #e0258c 100%);
  background-image: -ms-linear-gradient(-38deg, #4b2d73 0%, #e0258c 100%); }

.gradient-blue {
  background-image: -moz-linear-gradient(-38deg, #2e3a82 0%, #2871ab 100%);
  background-image: -webkit-linear-gradient(-38deg, #2e3a82 0%, #2871ab 100%);
  background-image: -ms-linear-gradient(-38deg, #2e3a82 0%, #2871ab 100%); }

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  width: 100%;
  padding: 5px 5px 5px 15px;
  border: 1px solid #2b2f56;
  background-color: #1d2147;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem; }
  .container .input {
    font-size: 16px;
    color: white;
    margin-bottom: 0;
    border: none;
    background: none;
    outline: none;
    width: 100%; }
    .container .input:focus-visible, .container .input:focus {
      border: none;
      outline: none; }
  .container .button {
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 104px;
    background: #7e889f;
    height: 27px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .container .button:hover {
      -webkit-transform: scale(1.2, 1.2);
      -moz-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      -o-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2); }

/*# sourceMappingURL=InputFile.module.css.map */
