@import "../../variables";

.mainSection {
    margin-bottom: 50px;
}

.homePage {
    background-image: url('../../../assets/img/polygonal-blue-abstract.png');
    background-repeat: no-repeat;
    background-size: cover, 533px;
    background-position-y: 0px;
    height: 100%;

    .alertWrapper {
        margin-top: 50px;
    }

    .titleWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        p {
            font-size: 14px;
        }
    }

    .medalBlock {
        display: flex;
        justify-content: space-between;
        width: 100%;
        //max-width: 970px;
        margin-bottom: 30px;
    }

    .tableBlock {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media screen and (max-width: 1024px) {
            flex-wrap: wrap;
            justify-content: center;
        }


        .rightSide {
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;
            justify-content: center;
            max-width: 300px;

            .winWrapper {
                width: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .dogWin {
                    width: 100%;
                }

                .coinLogo {
                    position: absolute;
                    bottom: 100px;
                    width: 70px;
                    height: 70px;
                    background-color: black;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    -webkit-transition: all .2s;
                    -moz-transition: all .2s;
                    -ms-transition: all .2s;
                    -o-transition: all .2s;
                    transition: all .2s;

                    &:hover {
                        cursor: pointer;
                        -webkit-transform: scale(1.2,1.2);
                        -moz-transform: scale(1.2,1.2);
                        -ms-transform: scale(1.2,1.2);
                        -o-transform: scale(1.2,1.2);
                        transform: scale(1.2,1.2);
                    }
                }
            }

            .dataWrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: -50px;
                h2 {
                    font-size: 36px;
                    width: 100%;
                    text-align: center;
                }

                .graphWrapper {
                    top: 365px;
                }
            }



        }
    }
}

.topCoinsSection {
    @media screen and (max-width: 525px) {
        overflow-x: hidden;
    }

    .cardWrapper {
        height: 650px;
        position: relative;
        margin-top: -50px;

        @media screen and (max-width: 1200px) {
            height: 1100px;
        }

        @media screen and (max-width: 1200px) {
            height: 1700px;
        }
    }
}

.coinsRateSection {
    margin-bottom: 50px;

    .coinsTableWrapper {
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .filterTableWrapper {

        .filterWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            @media screen and (max-width: 1200px) {
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
}
