@import "../../../variables";

.appNavBtn {
    background-color: rgb(24, 28, 63);
    width: 32px !important;
    margin-right: 15px;
    padding: 8px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .navBtn{
        background-image: url(../../../../assets/img/btn-app.png);
        width: 15px;
        height: 15px;
        position: relative;

        .message{
            position: absolute;
            right: -4px;
            top: -4px;
            background-color: #ef3e3e;
            width: 8px;
            height: 8px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
    }

    &:hover {
        cursor: pointer;

        .navBtn{
            background-image: url(../../../../assets/img/btn-app-hover.png);
        }
    }
}


