@import "../../../variables";

.navBarBtns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .burgerBtn {
        margin-right: 10px;
        padding: 0 15px;

        span {
            font-size: 30px;
        }

        &:hover {
            color: white;
        }
    }
}

.brand {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    &:hover {
        color: white;
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}

.offcanvas {
    background-color: $color-three;
    color: white;
}

.navBar{
    display: flex;
    flex-direction: column;

    .navLink{
        color: white;
        font-size: 30px;
    }

    .menuWrapper{
        display: flex;
        flex-direction: column;
    }

    .authWrapper{
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }
}
