@import "../../variables";

.navBar{
    width: 100%;


    display: flex;
    justify-content: space-between;

    .menuWrapper{
        display: flex;
    }

    .authWrapper {
        display: flex;
        justify-self: flex-end;
    }
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
