@import "../../variables";

.navBar{
    width: 100%;


    display: flex;
    justify-content: space-between;

    .menuWrapper{
        display: flex;
    }

    .authWrapper {
        display: flex;
        justify-self: flex-end;
        width: 300px;
        justify-content: space-between;
        align-items: center;
    }
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.border {
    border-bottom: 2px solid #272c5d;
    padding-bottom: 1px;
}
